:root {
  --color-p: #3a5cd1;
  --color-white: #fff;
  --color-light-gray: #eff2f5;
  --color-mid-gray: #96a0b5;
  --color-dark-gray: #6d7d93;
  --color-dark: #182550;
  --color-red: #d13a3a;
}

@mixin transition($properties: all, $duration: 0.3s, $easing: ease-out) {
  @if length($properties) > 1 {
    transition-property: $properties;
    transition-duration: $duration;
    transition-timing-function: $easing;
  } @else {
    transition: $properties $duration $easing;
  }
}


.signup_section {

 border: 30px solid #19A49C;
  height: 100vh;
  h1 {
    font-size: 26px;
    font-family: Poppins;
    line-height: 1.4rem;
  }
  h2 {
    font-size: 1.953rem;
  }
  h3 {
    font-size: 1.563rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  a {
    text-decoration: none;
    color: var(--color-p);

    @include transition;

    &:hover {
      color: var(--color-dark);
    }
  }
  .text-center {
    text-align: center;
  }
  .text-underline {
    text-decoration: underline;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    height: 100%;
  }
  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    //padding: 3rem;

    @include transition;

    h1 {
      font-weight: 700;
      margin-bottom: 1rem;
    }
    .social-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 0.75rem;
      gap: 1rem;

      a {
        padding: 15px 20px;
        display: inline-block;
        background-color: var(--color-light-gray);
        border-radius: 4px;
        border: 1px solid #b0b0b0;
        opacity: 0.9;
      }
    }
  }
  .left-inner {
    display: flex;
    flex-flow: column wrap;
  }
  .seperator {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 38%;
      left: 0;
      z-index: 1;
      height: 1px;
      width: 100%;
      background-color: #A4A4D4;
      opacity: 0.3;
    }
    span {
      background-color: var(--color-white);
      padding: 0 1rem;
      display: inline-block;
      position: relative;
      z-index: 2;
      color: var(--color-mid-gray);
      margin-bottom: 0.5rem;
    }
  }
  .form-group {
    margin-bottom: 1rem;
    text-align: left;
  }
  label {
    display: block;
    color: var(--color-dark-gray);
  }
  input {
    //background-color: var(--color-light-gray);
    //padding: 0.5rem;
    //border: 1px solid transparent;
    //width: 100%;
    //border-radius: 6px;
    //font-size: 1rem;
    //font-family: Dongle, sans-serif;
    // hanel em vor chxangari

    &:focus {
      color: var(--color-dark);
      background-color: var(--color-white);
      border-color: var(--color-p);
      outline: 0;
      border: 1px solid var(--color-p);
    }

    &.error {
      border: 1.5px solid var(--color-red);
    }
  }

  .form-radio,
  .form-checkbox {
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: var(--color-white);
    border: 2px solid #bdbcc0;
    height: 24px;
    width: 24px;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 10px 0 0;
    outline: none;
    padding: 0;
  }

  .form-radio:checked::before,
  .form-checkbox:checked::before {
    position: absolute;
    left: 5px;
    top: 1px;
    content: "\02143";
    font-size: 14px;
    transform: rotate(40deg);
  }

  .form-radio:hover,
  .form-checkbox:hover {
    background-color: var(--color-mid-gray);
    outline: none;
  }

  .form-radio:checked,
  .form-checkbox:checked {
    background-color: var(--color-p);
    border-color: var(--color-dark);
    color: var(--color-white);
    z-index: 2;
  }

  .form-radio {
    border: 2px solid #bdbcc0;
    top: 6px;
  }

  .form-checkbox {
    border-radius: 4px;
  }
  .error-text {
    color: var(--color-red);
  }
  .remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .remember {
    display: flex;
    align-items: center;

    label {
      display: inline-block;
      line-height: 1;
    }
  }
  .forgot {
    line-height: 1;
    text-align: right;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #19A49C;
    color: var(--color-white);
    border: 0;
    padding: 0.25rem 1rem;
    font-family: Poppins;
    width: 200px;
    border-radius: 6px;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;

    @include transition;

    &:hover {
      background-color: #0C5B55FF;
    }
  }
  .right {
    background-image: url("../../images/signup.png");
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    background-size: cover;

    svg {
      margin: auto;
    }
    h2 {
      font-weight: 700;
      margin-bottom: 1.5rem;
    }
    p {
      max-width: 50vw;
      margin: 0 auto;
      line-height: 1rem;
    }
  }

  .sign-in-form,
  .forgot-pass-form,
  .sign-up-form {
    display: none;

    &.active {
      display: block;
    }
  }

  @media screen and (max-width: 48rem) {
    .wrapper {
      grid-template-columns: 1fr;
    }
    .right {
      display: none;
    }
  }

  .effect-wrap .effect {
    position: absolute;
  }

  .effect-3 {
    height: 250px;
    width: 250px;
    border: 35px solid #aeb4bd;
    opacity: 0.2;
    border-radius: 50%;
    left: -63px;
    top: -105px;

  }

  .css-1izfg5m {
    width: 100% !important;
  }
}


.email_signup_button {
  width: 26% !important;
  display: flex !important;
  margin: 0 auto !important;
}

.register_slice {

  a {
    color: #19A49C !important;
    font-size: 19px;
  }
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: transparent !important;
  box-shadow: none !important;
}

.css-1ujnqem-MuiTabs-root {
  width: 65% !important;
  margin: 0 auto !important;
}

.css-1vw5i9y-MuiButtonBase-root-MuiTab-root {
  text-transform: lowercase !important;
}

.react-tel-input {
  //margin: 0 0 0 67px !important;
}

.css-19kzrtu {
  padding: 40px !important;
  @media (max-width:510px) {
    width: 100% !important;
    margin: 0 auto !important;
  }
}

.MuiTypography-root, .MuiTypography-body1, .css-ahj2mt-MuiTypography-root {
  display: flex;
  justify-content: center;
  grid-gap: 20px;
}

.css-heg063-MuiTabs-flexContainer {
  gap: 5px !important;
}

@media (max-width: 550px) {
  .css-heg063-MuiTabs-flexContainer {
    flex-direction: column !important;
    grid-gap: 20px !important;
  }
  #full-width-tabpanel-0 {
    //width: 50% !important;
    margin: 0 auto !important;
  }

  .login_form_media {
    display: flex;
    flex-direction: column;
    grid-gap: 4px;
  }
}


.left_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_signCode {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 420px) {
    gap: 10px;
  }
}

.signup_code_text {
  font-size: 18px !important;
  font-family: Poppins !important;
  margin: 3px !important;
  color: #a9a9a9;
}


@media (max-width: 500px) {
  .code_send_input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #a9a9a9;
  }
}