.card_team {
  border: none !important;
  margin: 10px auto !important;

  &:hover {
    border: none !important;
    box-shadow: none !important;
    transform: scale(0.9999, 0.9999);
  }

}

.card_teams {
  position: relative !important;

  .absolute {
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
  }
}


.team_title {
  font-size: 35px;
  font-weight: 300;
  font-family: Poppins;
  color: black;
}


@media only screen and (max-width: 500px) {
  .team_slice_image {
    display: none;
  }

  .card_team {
    p {
      font-size: 18px;
      font-family: Poppins;
    }

    img {
      width: 70%;
    }
  }
}

.uploadBox{
  display: flex;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column !important;
  }
}

.first{
  padding: 10px 5px 10px 0;

  button {
    border: none !important;
    border-radius: 10px !important;
  }
}

.second{
  padding: 10px 0;
  width: 200px;
  height:200px;

  @media (max-width: 768px) {
    height: 225px !important;
  }
img{
  width: 200px;
  height: 200px;
}
}

.settings_btn{
  background: #19A49C;
  padding: 8px 15px;
  border: none;
  margin: 0 auto;
  border-radius: 10px;
  color: white;

  &:hover {
    background: #37daab;
    transition: 0.4s;
  }
}


.team_img {

  .css-hu5c7e {
    @media (max-width:630px) {
      width: 381px !important;
    }

  }


    img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-size: cover;
  }
}

.card_team_create {

  &:hover {
    filter: contrast(200%);
    transition: 0.5s;
  }
}


.team_section {

  .css-hu5c7e {

    @media (max-width:768px) {
      position: fixed !important;
      width: 581px !important;
    }

    @media (max-width:631px) {
      position: fixed !important;
      width: 385px !important;
    }
  }



}

.upload_file {
  @media (max-width:768px) {
    opacity: 0 !important;
    position: absolute !important;
    left: 0 !important;
  }
}

.btn_media_style {
  @media (max-width:768px) {
    width: 150px !important;
    position:relative !important;
  }
}