.settings_section_slice {


  .upload_image_slice {
    padding: 40px;
    border-right: 1px solid #b0b0b0;
    height: 50%;
  }

  .upload_image_block {
    width: 200px;
    height: 200px;
    background: #F3F3F3;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 210px;
      max-height: 210px;
      object-fit: cover;
    }
  }


  sup {
    color: red;
  }

  .settings_btn {
    background: #19A49C;
    padding: 8px 75px;
    border: none;
    margin: 0 auto;
    border-radius: 10px;
    color: white;
    display: flex;

    &:hover {
      background: #37daab;
      transition: 0.4s;
    }
  }

  .form_settings {
    padding: 38px;
  }

  .settings_section_name {
    padding: 30px 40px;
  }

  .settings_section_main {

    @media only screen and (max-width: 767px) {
      flex-direction: column !important;
    }
  }
}

.loader {
  margin: 20px 0;
}

.avatarBox {
  position: relative;
}

.uploadBtn {
  position: absolute;
  bottom: 9%;
  right: 5%;
  width: 29%;
  cursor: pointer;
  outline: none;
  background: none;
  border: 0;
  &:hover {
    filter: contrast(200%);
    transition: 0.4s;
  }
  
  label {
    cursor: pointer;
  }

  input {
    display: none;
  }
}

.passBox {
  position: relative;
}

.eye {
  position: absolute;
  right: 5%;
  bottom: 16%;
  cursor: pointer;
}

.deactivateBtn{
  background: maroon;
  padding: 8px 75px;
  border: 1px solid maroon;
  margin: 0 auto;
  border-radius: 10px;
  color: white;
}

.deactivateBtn:hover{
  border: 1px solid maroon;
  background: white;
  color: maroon;
  font-weight: bold;
  transition: .8s;
}

.cancleBtn {
  background: #19A49C;
  padding: 8px 75px;
  border: none;
  margin: 0 auto;
  border-radius: 10px;
  color: white;
  display: flex;

  &:hover {
    background: #37daab;
    transition: 0.4s;
  }
}

.openBox{
  display: flex;
  justify-content: space-between;
  img{
    cursor: pointer;
  }
}