.team_slice {
  padding: 3rem;


  .image_slice {
    width: 100px;
    height: 100px;
    background-color: #bfccdb;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 500px) {
      margin: 0 auto 30px;
    }

    img {
      width: 70px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .team_info_slice {
    gap: 5rem;
    i {
      font-size: 20px;
      cursor: pointer;
    }
  }

  .invited_count {
    justify-content: center;
    grid-gap: 30px;
  }

  .invited_count_num {
    color: #19A49C;
    font-size: 22px;
    font-family: Poppins;
  }
}

.thead_table {
  background-color: #19A49C !important;
  color: white !important;
}

.members_slice {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 650px) {
    flex-direction: column;
    grid-gap: 25px;
  }
}

.members_slice_img {
  display: flex;
  justify-content: center;

  img {
    width: 65%;
    cursor: pointer;
    &:hover {
      filter: contrast(200%);
      transition: 0.5s;
    }
  }
}

.status_slice {
  @media (max-width:1100px) {
    flex-direction: column !important;
  }
}

.members_count {
  color: #A1A5B7;
  font-size: 14px;
  font-family: Poppins;
}

.online{
  width: 10px;
  height: 10px;
  padding: 10px;
  background: green;
  border-radius: 100%;
  margin:10px;
}

.ofline{
  width: 10px;
  height: 10px;
  padding: 10px;
  background: red;
  border-radius: 100%;
  margin:10px;
}

.editBtn{
  margin: 10px 0;
  padding: 5px 20px;
  background: white;
  border: 1px solid #19A49C;
  border-radius: 5px;
  color: #19A49C;
  font-weight: bold;

  &:hover{
    background: #19A49C;
    color: white;
    transition: .5s;
  }
}

.delBtn{
  padding: 5px 20px;
  background: white;
  border: 1px solid #19A49C;
  border-radius: 5px;
  color: #19A49C;
  font-weight: bold;

  &:hover{
    background: #19A49C;
    color: white;
    transition: .5s;
  }
}

.danger{
  color: maroon;
}

.DelBtn{
  margin: 10px 0;
  padding: 5px 20px;
  background: white;
  border: 1px solid maroon;
  border-radius: 5px;
  color: maroon;
  font-weight: bold;

  &:hover{
    background: maroon;
    color: white;
    transition: .5s;
  }
}