.invitations_section {
  padding: 2rem;
}


.card_invitations {
  border: 1px solid #b0b0b0 !important;

}

.active_card{
  border-bottom: 6px solid #19A49C;
  border-radius: 5px;
}

.teams_activities {
  grid-gap: 10px;
  padding: 5px;
  border-radius: 15px;

  h4 {
    background: #EEF0F6;
    //border-bottom: 3px solid transparent;
    border-radius: 5px;

    &:hover {
      border-bottom: 3px solid #19A49C;
      transition: left 500ms ease-in-out, right 500ms ease-in-out;
    }

  }
}

.activeTab {
  border-bottom: 3px solid #19A49C;
  border-radius: 5px;
  color: #19A49C;
}

.inviteBox{
  width: 20%;
  border: 1px solid #19A49C;
  border-radius: 5px;
  padding: 10px;

  .infoBox{
    display: flex;

    .nameBox{
      margin-left: 15px;
    }
  }

  .buttonsBox{
    display: flex;
    justify-content: flex-end;
    button{
      margin-left: 15px;
      font-weight: bold;
    }

    .reject{
      background: white;
      border: 1px solid maroon;
      border-radius: 5px;
      padding: 5px 10px;
      color: maroon;

      &:hover{
        background: maroon;
        transition: .5s;
        color: white;
      }
    }

    .accept{
      background: white;
      border: 1px solid #19A49C;
      border-radius: 5px;
      padding: 5px 10px;
      color: #19A49C;

      &:hover{
        background: #19A49C;
        transition: .5s;
        color: white;
      }
    }
  }
}