.select_activity {
    display: flex;
    height: 100vh;
    border: 30px solid #19A49C;

  * {
    box-sizing: border-box;
  }

  .wrapper {
    width: 780px;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;

    .btn {
      font-family: Poppins;
      padding: 15px 170px;
      background: #1CE2A3;
      width: 50%;
      margin: 0 auto;
      color: white;
      outline: none;
      font-size: 17px;
      font-weight: 300;
      border-radius: 8px;

      &:hover {
        background: #19A49C;
        transition: .4s;
      }

    }
  }

  .wrapper .title {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .container .option_item {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    background:#f9f9f9;
    border-radius: 50%;
  }

  .container .option_item .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
  }

  .option_item .option_inner {
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
    background: #fff;
    border-radius: 5px;
    background: #f9f9f9;
    text-align: center;
    cursor: pointer;
    color: #585c68;
    display: block;
    position: relative;
  }

  .option_item .option_inner .icon {
    margin-bottom: 10px;
  }

  .option_item .option_inner .icon .fab {
    font-size: 32px;
    margin: 30px 0 0 0;
  }

  .option_item .option_inner .name {
    user-select: none;
  }

  .option_item .checkbox:checked ~ .option_inner.activity {
    background: transparent;
    border-radius: 50%;
  }


  .option_item .option_inner .tickmark {
    position: absolute;
    top: -10px;
    right: 0;
    display: none;
  }

  .option_item .option_inner .tickmark:before {
    content: "";
    position: absolute;
    top: -18px;
    left: -18px;
    width: 15px;
    height: 5px;
    border: 3px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
  }

  .option_item .checkbox:checked ~ .option_inner .tickmark {
    display: block;
  }

  .option_item .option_inner.activity .tickmark {
    //border-color: #3b5999 transparent transparent #3b5999;
  }

  .image_slice {
    //background-image: url("../../images/auth.png");
    //display: flex;
    //align-items: center;
    //justify-content: center;
    //background-size: cover;

    img {
      height: 100%;
    }
  }
  .effect-wrap .effect {
    position: absolute;
  }

  .effect-3 {
    height: 250px;
    width: 250px;
    border: 35px solid #aeb4bd;
    opacity: 0.2;
    border-radius: 50%;
    left: -63px;
    top: -105px;
  }


}