@mixin fontOne {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  color: #989CAE;

  &:hover {
    text-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
    color: #19A49C !important;
    transition: 0.4s;
  }
}

.sidebar {
    min-height: 100vh;
    background: #1E1E2D;
    width: 18%;
    .top {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .logo {
        font-size: 20px;
        font-weight: bold;
        color: #6439ff;
      }
    }
  
    hr {
      height: 0;
      border: 0.5px solid rgb(230, 227, 227);
      width: 75%;
      margin: 0 auto;
    }
  
    .center {
      padding-left: 10px;
      margin-top: 2rem;
  
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
  
        .title {
          font-size: 10px;
          font-weight: bold;
          color: #999;
          margin-top: 15px;
          margin-bottom: 5px;
        }
  
        li {
          display: flex;
          align-items: center;
          padding: 20px;
          cursor: pointer;
          width: 85%;
          gap: 1rem;
  
          &:hover {
            text-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
            color: #19A49C !important;
            transition: 0.4s;
          }
  
          .icon {
            font-size: 18px;
            color: #7451f8;
          }
  
          span{
              @include fontOne
          }
        }
      }
    }
  
    .bottom{
        display: flex;
        align-items: center;
        margin: 10px;
  
        .colorOption{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid #7451f8;
            cursor: pointer;
            margin: 5px;
  
            &:nth-child(1){
                background-color: whitesmoke;
            }
            &:nth-child(2){
                background-color: #333;
            }
            &:nth-child(3){
                background-color: darkblue;
            }
        }
    }
  }


@media only screen and (max-width: 1250px) {
  .sidebar {
    display: none !important;
  }
}


.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
  background: #1E1E2D !important;
  color: #989CAE !important;
  font-size: 18px !important;
  font-family: Poppins !important;
  padding: 0 !important;
}

.css-ahj2mt-MuiTypography-root {
  font-weight: 300 !important;
  font-family: Poppins !important;
  font-size: 18px !important;
}

.css-i4bv87-MuiSvgIcon-root {
  filter: invert(1) !important;
}

.css-15v22id-MuiAccordionDetails-root {
  background: #1E1E2D !important;
  color: white !important;
}

.css-15v22id-MuiAccordionDetails-root {
  display: flex !important;
  flex-direction: column !important;
}

.css-15v22id-MuiAccordionDetails-root {
  padding: 0 !important;
}

.accordion_link {
  font-size: 14px !important;
}