.notification_mobile {
  float: right !important;
}
.responsive_navbar_image {
  float: right;
}
.responsive_navbar_image img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}