.notification_mobile {
  float: right !important;
}
.responsive_navbar_image {
  float: right;
}
.responsive_navbar_image img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}





.responsive_navbar {
  display: flex;
  justify-content: space-around;

  .responsive_navbar_left {
    display: flex;
  }

  .responsive_navbar_right {
    display: flex;
  }
}