.form_activity_btn  {
  background: #2DEDB4;
  color: #fff;
  padding: 7px 90px;
  border: none;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
  padding: 7px !important;
}


.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  display: none !important;
}


.custom_styles_textarea {
  padding: 0 !important;
  text-indent: 10px !important;
}